#root {
  margin: 0 auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding-top: 20px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.card-qr-media {
  height: "40vh";
}

.card-qr {
  max-width: "20vw";
}
