#root {
  margin: 0 auto;
  font-family: "Outfit" sans-serif;
  padding-top: 40px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding-top: 20px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (max-width: 375px) {
  #root {
    padding-top: 10px;
  }
}
